html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.hover-parent-only,
.hover-only {
    opacity: 0;
    transition: opacity .15s ease;
}

.hover-parent-only {
    pointer-events: none;
}

.hover-parent:hover .hover-parent-only,
.hover-only:hover {
    opacity: 1;
    pointer-events: auto;
}

.folder-nav > a,
.file-nav > a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

img.loading {
    background-color: var(--bs-secondary);
    opacity: 0.25;
}

#thumbnails {
    flex-direction: row;
    flex-wrap: wrap;
}
#thumbnails.reverse {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}
#thumbnails .card img {
    width: auto;
    height: 240px;
}
#thumbnails .card img.loading {
    width: 400px;
    height: 240px;
}

@media (max-width: 575.98px) {
    #thumbnails {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #thumbnails.reverse {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    #thumbnails .card img {
        width: 100%;
        height: auto;
    }
    #thumbnails .card img.loading {
        width: 100%;
        height: 400px;
    }
}

.medium-zoom-overlay,
.zoomable {
    cursor: default !important;
}

.medium-zoom-overlay {
    background-color: var(--bs-body-bg) !important;
}

.text-bg-info,
.text-bg-warning {
    color: #fff !important;
}
