@{
    ViewData["Title"] = "主页";
}

<h1 class="display-4">你好。</h1>

<div class="modules d-flex flex-wrap gap-2">
    <div class="module card flex-grow-1">
        <div class="card-body">
            <pre id="datetime" class="m-0"></pre>
        </div>
    </div>
    <div class="module card flex-grow-1">
        <div class="card-body">
            <pre id="system-info" class="m-0">@await FastfetchAdapter.GetFastfetchOutput()</pre>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const datetime = document.getElementById('datetime');
        function updateDatetime() {
            const dt = new Date();
            datetime.textContent = JSON.stringify({
                full: dt.toLocaleString(),
                UTC: dt.toJSON(),
                timestamp: dt.valueOf(),
                year: dt.getFullYear(),
                month: dt.getMonth() + 1,
                date: dt.getDate(),
                day: dt.getDay(),
                hour: dt.getHours(),
                minute: dt.getMinutes(),
                second: dt.getSeconds()
            }, null, 2);
        }

        updateDatetime();
        setInterval(updateDatetime, 1000);
    </script>
}