@{
    ViewData["Title"] = "添加 Access Token";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-floating mb-2">
        <input type="text" class="form-control" name="token"
               id="token" placeholder="" />
        <label for="token">Access Token</label>
    </div>
    <button type="submit" class="btn btn-primary">添加</button>
</form>
