name: Test & Build

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      # - name: Test
      #   run: dotnet test -c Release --filter "TestCategory!=LargeData"

      - name: Build
        run: dotnet build Aurorae -c Release
