a.navbar-brand {
    color: rgba(221, 119, 221, 0.5);
    background: linear-gradient(135deg, rgba(255, 229, 183, 1) 0%, rgba(75, 255, 255, 1) 100%) text;
}

nav {
    transition: transform 0.3s ease;
    will-change: transform;
    backdrop-filter: blur(8px);
}

main {
    margin-top: 5rem;
    margin-bottom: 1rem;
}
