@using Microsoft.AspNetCore.WebUtilities
@model ErrorViewModel
@{
    ViewData["Title"] = CommonUtils.GetStatusString(Model.StatusCode);
}

<h1 class="text-danger"><span class="badge text-bg-danger">@Model.StatusCode</span> @ReasonPhrases.GetReasonPhrase(Model.StatusCode)</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}